<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backgroundGameScene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,1136}</string>
                <key>spriteSourceSize</key>
                <string>{768,1136}</string>
                <key>textureRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,1136}</string>
                <key>spriteSourceSize</key>
                <string>{22,1136}</string>
                <key>textureRect</key>
                <string>{{768,0},{22,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineCenterNoise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,1017}</string>
                <key>spriteSourceSize</key>
                <string>{22,1017}</string>
                <key>textureRect</key>
                <string>{{790,0},{22,1017}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,1136}</string>
                <key>spriteSourceSize</key>
                <string>{22,1136}</string>
                <key>textureRect</key>
                <string>{{812,0},{22,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLeftNoise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,1110}</string>
                <key>spriteSourceSize</key>
                <string>{22,1110}</string>
                <key>textureRect</key>
                <string>{{834,0},{22,1110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,1136}</string>
                <key>spriteSourceSize</key>
                <string>{22,1136}</string>
                <key>textureRect</key>
                <string>{{856,0},{22,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineRightNoise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,1107}</string>
                <key>spriteSourceSize</key>
                <string>{22,1107}</string>
                <key>textureRect</key>
                <string>{{878,0},{22,1107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,26}</string>
                <key>spriteSourceSize</key>
                <string>{1,26}</string>
                <key>textureRect</key>
                <string>{{900,0},{1,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,55}</string>
                <key>spriteSourceSize</key>
                <string>{1,55}</string>
                <key>textureRect</key>
                <string>{{901,0},{1,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rain3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,122}</string>
                <key>spriteSourceSize</key>
                <string>{1,122}</string>
                <key>textureRect</key>
                <string>{{902,0},{1,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rotationTrace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,44}</string>
                <key>spriteSourceSize</key>
                <string>{9,44}</string>
                <key>textureRect</key>
                <string>{{903,0},{9,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiningLines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,114}</string>
                <key>spriteSourceSize</key>
                <string>{5,114}</string>
                <key>textureRect</key>
                <string>{{912,0},{5,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{0,1136},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{60,1136},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{120,1136},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,69}</string>
                <key>textureRect</key>
                <string>{{180,1136},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameSceneSpriteSheet.png</string>
            <key>size</key>
            <string>{917,1205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd5c4b30218301f744f9a7983a1d906:d70560fad7dcdcc70d7a09016efada42:7fa993dd2baff663bab9bd7e60e3a12e$</string>
            <key>textureFileName</key>
            <string>gameSceneSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
