<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,1024}</string>
                <key>spriteSourceSize</key>
                <string>{768,1024}</string>
                <key>textureRect</key>
                <string>{{1,211},{768,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{398,1},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{449,1},{41,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{351,1},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{41,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{492,1},{41,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{558,1},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{616,1},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{23,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{647,1},{23,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{19,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{595,1},{19,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{535,1},{21,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{271,1},{31,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{95,1},{41,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{304,1},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{41,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{52,1},{41,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{15,1},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{138,1},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{23,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{169,1},{23,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{19,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{227,1},{19,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{248,1},{21,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flippingSquare/flippingSquare9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{194,1},{31,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,1140}</string>
                <key>spriteSourceSize</key>
                <string>{16,1140}</string>
                <key>textureRect</key>
                <string>{{771,211},{16,1140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rainDrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,12}</string>
                <key>spriteSourceSize</key>
                <string>{5,12}</string>
                <key>textureRect</key>
                <string>{{1,1},{5,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rainDrop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,12}</string>
                <key>spriteSourceSize</key>
                <string>{5,12}</string>
                <key>textureRect</key>
                <string>{{8,1},{5,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiningLines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,208}</string>
                <key>spriteSourceSize</key>
                <string>{4,208}</string>
                <key>textureRect</key>
                <string>{{724,1},{4,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{672,1},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameSpriteSheet.png</string>
            <key>size</key>
            <string>{788,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80166b44ddbf2780336b63cbd26cfd24:f63abdeb3d5572886131306b4f1ee4c2:0df87402a7a83e251fc3de719f5117b9$</string>
            <key>textureFileName</key>
            <string>gameSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
